{{#each this}}
<li class="list-item" data-action='{{id}}'>
<article class="main-films">
    <img src="https://image.tmdb.org/t/p/w300/{{poster_path}}"  alt="{{title}}" class="film-image" />
    <h2 class="film-title">{{original_title}}</h2>
    <div class="film-content">
        <ul class="genres-list">
            {{#each genres}}
            <li class="film-genre">{{this.name}}</li>
            {{/each}}
        </ul>
        <p>{{release_date}}</p>
        <p class="film-vote">{{vote_average}}</p>
    </div>
</article>
</li>
{{/each}}